<div class="detail_object body__draft_select__form_control">
    {% if not document.signatory %}
    <div id="signer-form-search" class="form_container relative">
        <label for="search-signer">Выберете подписанта</label>
        <input type="text" name="q" 
            class="container_input inputing bscolor"
            hx-trigger="search, keyup delay:200ms changed"
            {% if not document.category == 'INCOMING_DOCUMENT' %}
                hx-get="{% url 'core:core-lk-staff-search' %}"
                hx-vals='{"type": "signer", "signer": "internal_signer"}'
            {% else %}
                hx-get="{% url 'core:core-lk-organisation-search' %}"
                hx-vals='{"type": "signer", "signer": "external_signer"}'
            {% endif %}  
            hx-target="#signer-container-results" 
            placeholder="Введите данные организации или его руководителя..."
            hx-swap="innerHTML transition:true"
            id="search-signer"
            _="
                on keyup 
                if me.value.trim() then 
                    show #signer-container-results
                    remove .fade-out from #signer-container-results
                    add .visible to #signer-container-results 
                else 
                    remove .visible from #signer-container-results
                    add .fade-out to  #signer-container-results 
                    wait 200ms 
                    then hide #signer-container-results
                    set #signer-container-results's innerHTML to ''
            "/>
            <ul class="form_container__result hidden fade-out overflow-y" id="signer-container-results"
            _="on htmx:afterSwap remove .hidden then add .visible"></ul>
    </div>
    {% endif %}    

<ul id="document-signer-list" class="detail_object body__draft_select__form_control reviews"
_="on htmx:afterSwap add .hidden to #signer-form-search">
    {% if document.signatory %}
        {% include './partial_signer_list.html' %}
    {% endif %}
</ul>

</div>