<li class="detail_object body__draft_select__form_control__staff">
    {% if document.draft %}
    <svg width="21" height="21" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="#059051" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7.75 11.9999L10.58 14.8299L16.25 9.16992" stroke="#059051" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    {% else %}
    <svg width="21" height="21" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#70A8FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8.00977 14.5099C8.18977 14.8099 8.40976 15.09 8.65976 15.34C10.4998 17.18 13.4898 17.18 15.3398 15.34C16.0898 14.59 16.5198 13.6399 16.6598 12.6699" stroke="#70A8FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7.33984 11.3303C7.47984 10.3503 7.90985 9.41027 8.65985 8.66027C10.4999 6.82027 13.4898 6.82027 15.3398 8.66027C15.5998 8.92027 15.8098 9.20029 15.9898 9.49029" stroke="#70A8FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7.82031 17.1798V14.5098H10.4903" stroke="#70A8FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16.1797 6.82031V9.49029H13.5098" stroke="#70A8FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>      
    {% endif %}   
    <div class="detail_object body__draft_select__form_control__staff__column">     
        <div class="detail_object body__draft_select__form_control__staff__row">
            <p class="detail_object body__draft_select__form_control__staff__title">{% if document.signatory.get_full_name %}{{ document.signatory.get_full_name }}{% else %}{{ document.signatory.user.get_full_name }}{% endif %}</p>
            <span class="detail_object body__draft_select__form_control__staff__description">{{ document.signatory.post }}</span>
        </div>

    <span class="detail_object body__draft_select__form_control__staff__description">{% if document.signatory.organisation.short_name %}{{ document.signatory.organisation.short_name }}{% else %}{{ document.signatory.department }}{% endif %}</span>
</div>
{% if document.draft %}
<button 
hx-target="#document-signer" 
hx-swap="innerHTML transition:true"
hx-trigger="click delay:200ms"
hx-post="{% url 'core:document-delete-signer' %}"
hx-vals='{"document_uuid": "{{ document.uuid }}"}'
class="button delete" type="button"
_="on click 
    add .focused to #document-signer
    remove .selected from #document-signer">Удалить</button>
{% endif %}
{% if document %}
<button 
hx-target="#document-signer" 
hx-swap="innerHTML transition:true"
hx-trigger="click delay:200ms"
hx-post="{% url 'core:document-delete-signer' %}"
hx-vals='{"document_uuid": "{{ document.uuid }}"}'
class="button base border small" type="button"
_="on click 
    add .focused to #document-signer
    remove .selected from #document-signer">Подписать</button>
{% endif %}
</li>