<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg" href="{% static 'favicon.svg' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    
    {% block scripts %}
    <script src="{% static '/js/htmx.min.js' %}" defer></script>
    <script src="{% static '/js/hyperscript.min.js' %}" defer></script>
    {% endblock scripts %}
    <title>{% block title %}СЭД | Университет им С.Ю. Витте{% endblock %}</title>
</head>
<body>
    <section id="app-container" class="app_container" hx-history-elt>
        {% block sidebar %}
            {% include "sidebar.html" %}
        {% endblock sidebar %}

        <section class="app_container__content">
            <section id="app-content-section" class="app_container__content__section overflow-y"
            _="
            on scroll
              if my.scrollTop > 0
                then
                  if #header-detail-document exists
                    then add .shadow to #header-detail-document
                  end
                else
                  if #header-detail-document exists
                    then remove .shadow from #header-detail-document
                  end
              end">
                    {% block header_content %}{% endblock header_content %}
                </div>
                {% block content %}{% endblock content %}
                </section>
            </section>
    </section>

</body>
</html>
