<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    
    {% block scripts %}
    {{ block.super }}
    <script src="{% static '/js/htmx.min.js' %}" defer></script>
    {% endblock scripts %}
    <title>{% block title %}СЭД | Университет им С.Ю. Витте{% endblock %}</title>
</head>
<body>
    <section class="app_container">
        {% block sidebar %}
            {% include "sidebar.html" %}
        {% endblock sidebar %}

        <section class="app_container__content" hx-history-elt>
            <section id="app-content-section" class="app_container__content__section">
                <div class="app_container__content__section__header">
                    {% block header_content %}{% endblock header_content %}
                </div>
                {% block content %}{% endblock content %}
                </section>
            </section>
    </section>

</body>
</html>
