<table cellpadding="0" cellspacing="11" class="table__content users">
    <thead>
      <tr>
        <th>ID</th>
        <th>Пользователь</th>
        <th>Роль</th>
        <th>Группа</th>
        <th>Должность</th>
        <th>Подразделение</th>
      </tr>
  </thead>
    <tbody id="staffs-table">
        <tr class="table-row">
            <td>Тип</td>
            <td>Тип</td>
            <td>Тип</td>
            <td>Тип</td>
            <td>Тип</td>
            <td>Тип</td>
          </tr>
    </tbody>
  </table>