@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700;800;900&display=swap");
html {
  font-size: 15px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: auto;
  font-family: "Golos Text", sans-serif;
  background-color: #F8F6F7;
  height: 100vh;
  width: 100%;
}

h1, h2, h3, h4 {
  font-weight: 400;
  color: #2b2b2b;
}

form {
  display: contents;
}

.app_container {
  height: 100vh;
}
.app_container__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: calc(100% - 15rem);
  left: 15rem;
  position: relative;
  padding: 5rem 0rem 0rem 5rem;
  height: 100vh;
}
.app_container__content__row {
  width: 100%;
  gap: 1rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.app_container__content__section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem 0rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
}
.app_container__content__section__column {
  width: 100%;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.app_container__content__section__preview {
  flex: 1;
  transition: 0.3s ease-in;
  border-radius: 0.7rem;
  padding: 3rem;
  overflow: hidden;
  height: 100%;
  background-color: #F8F6F7;
}
.app_container__content__section__preview__file {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
}
.app_container__content__section__preview.scrollable {
  overflow-y: scroll;
}
.app_container__content__section__block {
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app_container__content__section__header {
  width: 100%;
  padding: 1.9rem;
}
.app_container__content__section__header__subheader {
  width: 100%;
  padding: 0.5rem;
}
.app_container__content__section__header__buttons_panel {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  height: 7rem;
  align-items: center;
  flex: 0.83;
  justify-content: center;
}
.app_container__content__section__header__element {
  padding: 3px;
  font-size: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.6rem;
  text-transform: uppercase;
  color: #70A8FF;
  border: 1px solid #70A8FF;
  padding-inline: 11px;
}
.app_container__content__section__header__element__headerline {
  font-size: 0.7rem;
  height: 100%;
  padding: 3px;
  color: #5B5B63;
  border: none;
}
.app_container__content__section__header__title {
  font-size: 1.3rem;
}
.app_container__content__section__header__description {
  font-size: 1rem;
  margin-top: 0.7rem;
  color: #566882;
}
.app_container__content__section__header__subdescription {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #566882;
}
.app_container__content__section__header__row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.app_container__content__section__header__row.draft_status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  gap: 0.4rem;
  background-color: #e8e8e8;
}
.app_container__content__section__header__row.draft_status h2 {
  color: #5B5B63 !important;
  font-size: 0.8rem;
}
.app_container__content__section__header__row.headerline {
  gap: 1rem;
}
.app_container__content__section__header__row.elements {
  margin-top: 0.9rem;
  gap: 0.5rem;
}
.app_container__content__section__body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-block: 1.3rem;
  height: 100%;
  width: 100%;
  padding: 0rem 1.9rem 1.9rem 1.9rem;
  will-change: transform;
}
.app_container__content__section__body h2 {
  font-size: 1rem !important;
}
.app_container__content__section__body p {
  margin-top: 9px;
  font-size: 0.9rem;
  color: #566882;
}
.app_container__content__section__body.row {
  gap: 1.3rem;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.app_container__content__section__body.row.cards-panel {
  height: 13rem;
  width: 100%;
}
.app_container__content__section__body.row.cards-panel-full {
  height: 100%;
}
.app_container__content__section__body .create_document .form_container {
  font-size: 0.8rem;
}
.app_container__content__section__body .create_document .form_container .container_input.inputing {
  height: 2.3rem;
}
.app_container__content__section__body .create_document .form_container .container_input.textarea {
  height: 5rem;
}
.app_container__auth {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app_container__auth__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 95%;
  position: relative;
  height: 100%;
  max-height: 95%;
}
.app_container__auth__content__section {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #ffffff;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  justify-content: right;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  color: inherit;
  text-decoration: none !important;
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li, ol {
  list-style: none !important;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

legend {
  display: block;
}

.button {
  max-width: 107px;
  width: 100%;
  height: 2.4rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button.base {
  border-radius: 0.2rem;
  background-color: #5580FF;
  color: #ffffff;
}
.button.none-active {
  background-color: #f1f1f1;
  color: #dfdfdf;
}
.button.border {
  border-radius: 0.4rem;
  padding: 1rem;
  gap: 0.5rem;
  height: 2.6rem;
  font-size: 0.8rem;
  border: 1px solid #e8e8e8;
  color: #2b2b2b;
  width: -moz-fit-content;
  width: fit-content;
  max-width: none !important;
}
.button.border.blue {
  border-color: #70A8FF;
}
.button.border.gray {
  color: #566882;
}
.button.border.create {
  background-color: #70A8FF;
  color: #ffffff;
  font-weight: 500;
  border: none;
}
.button.cancel {
  max-width: 100%;
  min-width: 100px !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  border-radius: 0.5rem;
  gap: 7px;
  font-size: 14px;
  font-weight: 500;
  color: #455A76;
}
.button.create {
  color: #70A8FF;
  border-radius: 7px;
  border: 1px solid #70A8FF;
}
.button.create.img {
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.button.create.img svg {
  stroke: #70A8FF;
}
.button.create.full-bg {
  background-color: #70A8FF;
  color: #fff;
}

.modal {
  display: flex; /* Скрываем модальное окно по умолчанию */
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Поверх затемненного фона */
  animation: fadeIn 0.3s ease-in-out;
}
.modal .modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal .modal-body__header {
  gap: 9px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-inline: 25px;
  margin-block: 21px;
}
.modal .modal-body__header__title {
  font-size: 21px;
}
.modal .modal-body__header__description {
  font-size: 15px;
  color: #959595;
}
.modal .modal-body__content {
  width: 100%;
  padding-inline: 25px;
  background-color: #fff;
  height: 100%;
  margin-block: 21px;
  border-radius: 0rem 0rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal .modal-body__content .card_object__virtual_machine {
  flex: 1 !important;
  width: 21rem !important;
}
.modal .modal-body__content .form_container label {
  color: #2b2b2b;
  font-size: 14px;
}
.modal .modal-body__content .form_container .middle_form {
  max-width: 50%;
}
.modal .modal-body__content .form_container .small_form {
  max-width: 25%;
}
.modal .modal-body__content .form_container input {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  border: 1px solid #dbdbdb;
  transition: all 0.3s ease-in-out;
}
.modal .modal-body__footer {
  display: flex;
  align-items: center;
  padding-inline: 25px;
  width: 100%;
  background-color: #F9FAFB;
  min-height: 7rem;
}
.modal .modal-body__footer__buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
  width: 100%;
  margin-left: auto;
}
.modal .modal-body__sidebar {
  position: absolute;
  width: 16rem;
  height: 100%;
  background-color: #F9FAFB;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal .modal-body__sidebar__element {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 13px;
  height: 100%;
  padding-inline: 17px;
  max-height: 35px;
  width: 100%;
  border-radius: 0.5rem;
  font-weight: 500;
  position: relative;
  transition: all 0.4s ease-in-out;
  color: #959595;
  gap: 7px;
}
.modal .modal-body__sidebar__element svg {
  stroke: #959595;
}
.modal .modal-body__sidebar__element.actived-modal-tab {
  color: #70A8FF !important;
  background-color: #EFF6FF;
}
.modal .modal-body__sidebar__element.actived-modal-tab::before {
  content: "";
  left: 0;
  transition: all 0.4s ease-in-out;
  position: absolute;
  animation: transitX 0.5s ease-in-out;
  height: 100%;
  max-height: 21px;
  border-radius: 0rem 0.4rem 0.4rem 0rem;
  width: 3px;
  background-color: #70A8FF;
  padding-block: 4px;
}
.modal .modal-body__sidebar__element.actived-modal-tab svg {
  stroke: #70A8FF;
}
.modal .modal-body__sidebar__body {
  position: relative;
  align-items: center;
  width: 100%;
  gap: 11px;
  max-width: 100%;
  height: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .modal-body__subside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}
.modal .modal-body__subside__title {
  margin-top: 15px;
  padding-inline: 11px;
  font-size: 13px;
  text-transform: uppercase;
  color: #2b2b2b;
}
.modal .modal-body.content {
  padding: 8px 13px;
  position: relative;
  left: 8rem;
  width: calc(100% - 17rem) !important;
}
.modal .modal-body-column {
  gap: 25px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal .modal-body-row {
  width: 100%;
  height: 100%;
  position: relative;
  gap: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.modal .modal-footer {
  margin-top: 25px;
}
.modal .modal-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal .modal-content-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 25px;
  margin-block: 10px;
}
.modal .modal-content-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 25rem;
  margin-top: 15px;
  gap: 21px;
}
.modal .modal-content.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 7px;
  gap: 5px;
}
.modal .modal-content.header h3 {
  font-size: 15px;
}
.modal .modal-content.header P {
  font-size: 13px;
  color: #959595;
}
.modal .modal-content .minimal_content {
  width: 25%;
}
.modal .modal-content .form_container input {
  background-color: #fff;
}
.modal .modal-content .inventory_number label {
  color: #70A8FF;
}
.modal .modal-content .inventory_number .inputing {
  border-color: #f3f8ff;
  color: #70A8FF;
  background-color: #f3f8ff;
}
.modal .modal-content.overflow-scroll-y {
  overflow-y: scroll;
  scrollbar-width: none;
}
.modal > .modal-backdrop {
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.modal > .modal-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0.5rem;
  margin-top: 5vh;
  margin-block: 25px;
  background-color: #fff;
  width: 80%;
  height: 100%;
  max-height: 900px;
  max-width: 70rem;
}
.modal > .modal-content.middle_modal {
  max-width: 37%;
}
.modal > .modal-content.middle_modal.small-height {
  height: 30rem !important;
}
.modal.closing {
  animation: fadeOut 0.3s ease-in-out;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 9px;
  padding-bottom: 25px;
}
.modal-header span {
  color: #70A8FF;
}
.modal-header__title {
  display: flex;
  font-size: 20px;
  gap: 9px;
  font-weight: 400;
}
.modal-header p {
  font-size: 15px;
  color: #959595;
}

.close {
  font-size: 24px;
  color: #999999;
  opacity: 1;
  cursor: pointer;
}

.close:hover {
  color: #666666;
}

@keyframes transitX {
  from {
    transform: translateX(1px);
  }
  to {
    transform: translateX(0px);
  }
}
/* Анимация появления затемненного фона */
@keyframes fadeBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Анимация появления модального окна */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.card_container {
  padding: 1.3rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  border-radius: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1rem;
  justify-content: space-between;
  backface-visibility: hidden;
  transition: 0.4s ease-in-out;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}
.card_container:hover {
  backface-visibility: hidden;
  transform: translateZ(0);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 15px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card_container__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.card_container__header h3 {
  font-size: 0.9rem;
}
.card_container__body {
  height: 100%;
}
.card_container__body p {
  font-size: 0.8rem;
  color: #566882;
}
.card_container__footer {
  justify-self: flex-end;
}
.card_container__footer span {
  font-size: 0.8rem;
  color: #65a0ff;
}
.card_container.flex-2 {
  flex: 0 0 19.3333%;
}

.response_container {
  min-height: 2.5rem;
}
.response_container__body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.7rem;
  height: 2.5rem;
  padding-inline: 1.2rem;
  width: 100%;
  background-color: #FCFCFD;
  border: 1px solid #F13A41;
  color: #F13A41;
  gap: 0.6rem;
  font-size: 0.9rem;
  animation-name: fadeIn;
  opacity: 0;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.response_container__body svg {
  min-width: 17px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.appcontrol_navigation {
  width: -moz-fit-content;
  width: fit-content;
  margin-block: 1rem;
  padding-left: 1.9rem;
}
.appcontrol_navigation__container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  height: 2.7rem;
  padding: 2px;
  gap: 1.8rem;
  background-color: #F4F4F5;
  border-radius: 0.5rem;
}
.appcontrol_navigation__container__link {
  cursor: pointer;
  font-size: 0.8rem;
  color: #5B5B63;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.appcontrol_navigation__container__link.active {
  border-radius: 0.5rem;
  background-color: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  padding: 15px;
  color: #2b2b2b;
  transition: 0.3s ease-in-out;
  height: 100%;
}

.form_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  font-size: 1rem;
}
.form_container label {
  color: #878787;
}
.form_container__result {
  position: absolute;
  top: 4rem;
  background-color: #ffffff;
  width: 100%;
  min-height: 3rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.6rem;
  max-height: 14rem;
  overflow-y: scroll;
  gap: 1.3rem;
  z-index: 999999;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  opacity: 0;
  transform: translateY(1rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.form_container__result.hidden {
  display: none;
}
.form_container__result.fade-out {
  opacity: 0;
  animation: fadeOut 1s forwards;
}
.form_container__result.visible {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  opacity: 1;
  transform: translateY(0);
}
.form_container__result__staff {
  width: 100%;
  gap: 0.2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form_container__result__staff__row {
  gap: 0.3rem;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.form_container__result__staff__row p {
  font-size: 0.8rem;
  margin-top: 1px;
}
.form_container__result__staff__row p:last-child {
  padding-left: 0.6rem;
}
.form_container__result__staff__row h4 {
  font-size: 0.9rem;
}
.form_container__result__staff__row h4 span {
  font-size: 0.8rem;
  padding-left: 1rem;
  color: #566882;
}
.form_container .container_select {
  position: relative;
  width: 100%;
  display: inline-block;
}
.form_container .container_select.select_create {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #D0D4DD !important;
  border: none;
  cursor: pointer;
}
.form_container .container_select.select_create:focus {
  outline: none;
}
.form_container .container_select .select_search {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  background-color: #EFF4F8;
  color: #73768E;
  border: 1px solid #E1EBF0;
  border: none;
  cursor: pointer;
}
.form_container .container_select .select_search:focus {
  outline: none;
}
.form_container .container_select::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 10px;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-top-color: #73768E;
  pointer-events: none;
}
.form_container .container_input {
  padding: 0 13px 0 15px;
  height: 2.5rem;
  line-height: 20px;
  letter-spacing: 0.5px;
  width: 100%;
  color: #e8e8e8;
  border-radius: 7px;
}
.form_container .container_input.inputing {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  color: #2b2b2b;
  transition: 0.4s ease-in-out;
}
.form_container .container_input.inputing.bscolor {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  background-color: #ffffff;
}
.form_container .container_input.inputing:focus {
  border: 1px solid #70A8FF;
}
.form_container .container_input.textarea {
  padding: 5px 13px 0 15px;
  font-size: 13px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  color: #2b2b2b;
  transition: 0.4s ease-in-out;
}
.form_container .container_input.textarea:focus {
  border: 1px solid #70A8FF;
}
.form_container .container_input.input-email {
  background-image: url(/static/img/search.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 8px;
}

.form_radio {
  cursor: pointer;
  display: flex;
}
.form_radio input[type=radio] {
  display: none;
}
.form_radio input[type=radio]:checked ~ .card_container {
  border-color: #c6d4ff;
  box-shadow: 0 4px 12px rgba(172, 193, 255, 0.5);
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
.breadcrumb_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumb-item {
  font-size: 0.9rem;
  color: #5B5B63;
}
.breadcrumb-item.active {
  color: #2b2b2b;
}
.breadcrumb-item span {
  padding-inline: 11px;
}

.table__content {
  display: grid;
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.7rem 0rem 0.7rem 0rem;
  min-width: 100%;
}
.table__content.appcore th,
.table__content.appcore td {
  padding: 5px;
}
.table__content.appcore td {
  padding-top: 1rem;
}
.table__content.appcore th {
  height: 2.3rem;
  color: #5B5B63;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}
.table__content.appcore .table-row td {
  border-right: 1px solid #f0f0f0;
}
.table__content.appcore .table-row td:first-child {
  border-left: none;
}
.table__content.appcore .table-row td:last-child {
  border-right: none;
}
.table__content thead,
.table__content tbody,
.table__content tr {
  display: contents;
}
.table__content thead .not_found_elements,
.table__content tbody .not_found_elements,
.table__content tr .not_found_elements {
  text-align: center;
  display: grid;
  grid-column: 1/-1;
}
.table__content .table-row td:first-child {
  border-left: 3px solid #F6F6F6;
}
.table__content .table-row td:last-child {
  border-right: 3px solid #F6F6F6;
}
.table__content th,
.table__content td {
  padding: 19px;
  overflow: hidden;
  color: #2b2b2b;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table__content th {
  text-align: left;
  background-color: #F6F6F6;
  font-weight: 400;
  font-size: 0.9rem;
  color: #566882;
}
.table__content td {
  padding-top: 8px;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 4rem;
  padding-bottom: 11px;
  border-bottom: 1px solid #f0f0f0;
  color: #2b2b2b;
}
.table__content.documents {
  grid-template-columns: minmax(0px, 0.6fr) minmax(0px, 0.7fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 0.7fr);
}
.table__content.departments {
  grid-template-columns: minmax(0px, 0.5fr) minmax(0px, 1fr) minmax(0px, 1fr);
}
.table__content.grid-2 {
  grid-template-columns: minmax(0px, 0.5fr) minmax(0px, 1fr);
}
.table__content.grid-5 {
  grid-template-columns: minmax(0px, 0.3fr) minmax(0px, 0.3fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
}
.table__content.grid-6 {
  grid-template-columns: minmax(0px, 0.6fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
}
.table__content.settings {
  grid-template-columns: minmax(0px, 0.5fr) minmax(0px, 0.7fr) minmax(0px, 1fr) minmax(0px, 1fr);
}

.sidebar_container {
  background-color: #ffffff;
  position: fixed;
  width: 15rem;
  height: 100%;
  left: 0;
}
.sidebar_container .active_role {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
}
.sidebar_container .role__change {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem;
  align-items: center;
  z-index: 999;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  gap: 1rem;
}
.sidebar_container .role__change__column {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.1rem;
}
.sidebar_container .role__change h4 {
  font-size: 0.8rem;
  color: #2b2b2b;
}
.sidebar_container .role__change span {
  color: #566882;
  font-size: 0.8rem;
}
.sidebar_container .role__change .icon_logo {
  min-width: 25px;
}
.sidebar_container .role__change .icon_arrow {
  min-width: 16px;
}
.sidebar_container .role__change.menu {
  display: none;
  width: 86%;
  z-index: 998 !important;
  position: absolute;
}
.sidebar_container .role__change.menu.visibility {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  animation-name: topTransition;
  opacity: 0;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.sidebar_container .role__change.menu.visibility .role__change {
  border: none;
}
@keyframes topTransition {
  from {
    opacity: 0;
    transform: translateY(-22px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.sidebar_container__content {
  height: 77%;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_container__content.sidebar_hiden__appcontrol {
  opacity: 1;
  animation-name: rightTransition;
  opacity: 0;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes rightTransition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}
.sidebar_container__content.sidebar_hiden__webapp {
  opacity: 1;
  animation-name: bottomTransition;
  opacity: 0;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes bottomTransition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}
.sidebar_container__content.role {
  height: -moz-fit-content;
  height: fit-content;
}
.sidebar_container__content.logout {
  align-items: flex-end;
  height: -moz-fit-content;
  height: fit-content;
}
.sidebar_container__content.logout li a {
  color: #F13A41;
}
.sidebar_container__content__title {
  text-align: left;
  font-size: 10px;
  color: #566882;
  text-transform: uppercase;
  margin-top: 1rem;
  align-self: flex-start;
}
.sidebar_container__content__linked {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}
.sidebar_container__content__linked a {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.7rem;
  padding: 0.5px;
  align-items: center;
  font-size: 13px;
  color: #566882;
}

#auth-container {
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#welcome-container.full-flex {
  flex: 1 !important;
  transition: 1s ease-in;
  border-radius: 1rem;
}

.auth_content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex: 1;
}
.auth_content.remove {
  animation: fadeOut 0.3s ease-in-out;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.auth_content__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 3rem;
  gap: 3rem;
  max-width: 55rem;
}
.auth_content__container.welcome-usr {
  max-width: 60rem;
}
.auth_content__container.welcome-usr h1 {
  animation-name: fadeIn;
  opacity: 0;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  font-size: 2rem !important;
}
.auth_content__container.welcome-usr h1 span {
  animation-name: fadeIn;
  opacity: 0;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  color: #5580FF;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.auth_content__container__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  max-width: 38rem;
}
.auth_content__container__header__title {
  font-size: 1.5rem;
}
.auth_content__container__header__description {
  font-size: 1rem;
  color: #566882;
}
.auth_content__container__body {
  width: 100%;
  max-width: 25rem;
  gap: 1.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.auth_content__container__footer {
  margin-top: 2rem;
  width: 100%;
}
.auth_content.cooolor {
  width: 100%;
  flex: 0 0 50%;
  border-radius: 0rem 1rem 1rem 0rem;
  background-color: #F4F7FB;
}

.detail_object {
  width: 100%;
}
.detail_object.main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.detail_object.container {
  padding: 19px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.detail_object.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}
.detail_object.header .button {
  margin-left: auto;
}
.detail_object.header__title {
  font-size: 17px;
  color: #455A76;
}
.detail_object.header__description {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 11px;
}
.detail_object.header__description__element {
  padding: 5px;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.6rem;
  text-transform: uppercase;
  color: #70A8FF;
  border: 1px solid #70A8FF;
  padding-inline: 9px;
}
.detail_object.body {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.detail_object.body__draft_select {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 33rem;
  align-items: center;
  border: 1px solid #e8e8e8;
  background-color: #fafafa;
  border-radius: 0.7rem;
  justify-content: center;
}
.detail_object.body__draft_select.focused {
  justify-content: flex-start !important;
}
.detail_object.body__draft_select__title {
  text-align: left;
  color: #5B5B63;
  font-weight: 400;
  padding: 1rem;
}
.detail_object.body__draft_select button {
  margin-block: 1.5rem;
}
.detail_object.body__draft_select__header {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #566882;
}
.detail_object.body__draft_select p {
  font-size: 0.8rem;
}
.detail_object.body__draft_select__form_control {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.detail_object.body__draft_select__form_control h3 {
  color: #5B5B63;
}
.detail_object.body__draft_select__form_control.reviews {
  padding: 0.3rem;
}
.detail_object.body.small {
  max-width: 50%;
}
.detail_object.body__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid #eeeeee;
}
.detail_object.body.border-top {
  border-top: 1px solid #eeeeee;
}
.detail_object.body.border-bottom {
  border-bottom: 1px solid #eeeeee;
}
.detail_object.body.border-right {
  border-right: 1px solid #eeeeee;
}
.detail_object.body.border-left {
  border-left: 1px solid #eeeeee;
}
.detail_object.body__information {
  padding: 19px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 11px;
}
.detail_object.body__information__header {
  gap: 3px;
  padding: 0px;
  margin-bottom: 1rem;
}
.detail_object.body__information__header p {
  font-size: 0.8rem;
}
.detail_object.body__information__header__title {
  font-size: 1rem;
  color: #2b2b2b;
}
.detail_object.body__information__title {
  margin-block: 15px;
  font-size: 15px;
  color: #2b2b2b;
}
.detail_object.body__information__description {
  width: 100%;
  gap: 7px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.detail_object.body__information__description .form_container {
  gap: 8px;
  margin-block: 0.2rem;
}
.detail_object.body__information__description .form_container label {
  font-size: 0.8rem;
}
.detail_object.body__information__description .form_container .container_input {
  height: 2.2rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
}
.detail_object.body__information__description .form_container .container_input.textarea {
  height: 5rem;
}
.detail_object.body__information__description__element {
  width: 25rem;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
.detail_object.body__information__description__element span {
  font-size: 12px;
}
.detail_object.body__information__description__element span:first-child {
  color: #455A76;
}
.detail_object.body__information__navigation_tab {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 11px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  height: 100%;
  max-height: 19rem;
  border-radius: 0.4rem;
  background-color: #E8EBEE;
}
.detail_object.body__information__navigation_tab__element {
  padding: 9px;
  width: -moz-fit-content;
  width: fit-content;
  color: #455A76;
  font-size: 13px;
  transition: 0.4s ease-in-out;
}
.detail_object.body__information__navigation_tab__element.visible-d {
  transition: 0.4s ease-in-out;
  border-radius: 0.4rem;
  background-color: #fff;
}
.detail_object.body__information__navigation_tab__content {
  display: none;
}
.detail_object.body__information__navigation_tab__content.visible-d {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.detail_object.body.block-middle {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 180px;
}

.detail_container {
  position: relative;
  top: 10rem;
  height: 100vh;
}

.border-base {
  border: 1px solid #EBEEF4;
  border-radius: 0.7rem;
}

.align-items-end {
  align-items: flex-end !important;
}

.margin-0 {
  margin: 0rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.gap-column-1 {
  gap: 1rem;
}

.flex {
  flex: 1;
}

.flex-4 {
  flex: 0 0 22%;
}

.overflow-hidden {
  overflow: hidden;
}

.margin-left {
  margin-left: auto;
}

.fixed {
  position: fixed;
  z-index: 9999;
  transition: 0.4s ease-in-out;
}
.fixed.shadow {
  transition: 0.4s ease-in-out;
  box-shadow: rgba(33, 35, 38, 0.17) 0px 10px 10px -10px;
}

.relative {
  position: relative;
}

.background-white {
  background-color: #ffffff;
}

.w-75 {
  width: 75%;
}

.shadow-zero {
  box-shadow: none;
}

.background-transparent {
  background-color: transparent !important;
}

.overflow-y {
  overflow-y: scroll;
}
.overflow-y.no-scrl {
  scrollbar-width: none;
}
.overflow-y::-webkit-scrollbar {
  background-color: #ebebeb;
  width: 3px;
}
.overflow-y::-webkit-scrollbar-thumb {
  background-color: #d9e7fa;
}
.overflow-y::-webkit-scrollbar-thumb:hover {
  background-color: #e9f2ff;
}
.overflow-y::-webkit-scrollbar-thumb:active {
  background-color: #c8ddff;
}/*# sourceMappingURL=main.css.map */