<form id="document-requisites">
    {% csrf_token %}
    {% if not document.category == 'OUTGOING_DOCUMENT' %}
    <div class="form_container__row">
        <div class="form_container">
            <label for="document-date">Дата</label>
            <input required 
            {% if document.document.date|date:'Y-m-d' %}value="{{ document.date|date:'Y-m-d' }}"{% endif %} 
            hx-post="{% url 'core:document-update-requisites' doc_uuid=document.uuid %}"
            hx-trigger="change"
            hx-include="this"
            hx-vals='{"field": "date"}'
            name="date" type="date" class="container_input inputing" id="document-date">
        </div>
        <div class="form_container">
            <label for="outgoing-number">Исходящий номер</label>
            <input name="outgoing_number" 
            {% if document.outgoing_number %}value={{ document.outgoing_number }}{% endif %}
            hx-post="{% url 'core:document-update-requisites' doc_uuid=document.uuid %}"
            hx-trigger="change"
            hx-include="this"
            hx-vals='{"field": "outgoing_number"}'
            type="text" class="container_input inputing" id="outgoing-number">
        </div>
    </div>
    {% endif %}
    <div class="form_container">
        <label for="document-brief">Краткое содержание</label>
        <textarea id="document-brief" 
        hx-post="{% url 'core:document-update-requisites' doc_uuid=document.uuid %}"
        hx-trigger="change"
        hx-include="this"
        hx-vals='{"field": "brief"}'
        name="brief" class="container_input inputing textarea">{% if document.brief %}{{ document.brief }}{% endif %}</textarea>
    </div>
    <div class="form_container__row">
        <div class="form_container">
            <label for="count-page-document">Листов документа</label>
            <input name="document_sheets" 
            hx-trigger="change"
            {% if document.document_sheets %}value={{ document.document_sheets }}{% endif %}
            hx-post="{% url 'core:document-update-requisites' doc_uuid=document.uuid %}"
            hx-include="[name=document_sheets]"
            hx-vals='{"field": "document_sheets"}'
            type="text" class="container_input inputing" id="count-page-document">
        </div>
        <div class="form_container">
            <label for="count-appendix-document">Количество приложений</label>
            <input name="application_sheets" 
            hx-trigger="change"
            {% if document.application_sheets %}value={{ document.application_sheets }}{% endif %}
            hx-post="{% url 'core:document-update-requisites' doc_uuid=document.uuid %}"
            hx-include="this"
            hx-vals='{"field": "application_sheets"}'
            type="text" class="container_input inputing" id="count-appendix-document">
        </div>
    </div>
    <div class="form_container">
        <label for="document-note">Примечание</label>
        <textarea id="document-note" 
        hx-post="{% url 'core:document-update-requisites' doc_uuid=document.uuid %}"
        hx-trigger="change"
        hx-include="this"
        hx-vals='{"field": "note"}'
        name="note" class="container_input inputing textarea">
        {% if document.note %}{{ document.note }}{% endif %}</textarea>
    </div>
</form>