{% for visa in reviews %}
<li class="detail_object body__draft_select__form_control__staff">
    <svg width="21" height="21" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.09351 6.34116C7.03517 6.33533 6.96517 6.33533 6.90101 6.34116C5.51266 6.29449 4.41016 5.15699 4.41016 3.75699C4.41016 2.32783 5.56516 1.16699 7.00017 1.16699C8.42934 1.16699 9.59017 2.32783 9.59017 3.75699C9.58434 5.15699 8.48184 6.29449 7.09351 6.34116Z" stroke="#70A8FF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4.17691 8.49301C2.76525 9.43801 2.76525 10.978 4.17691 11.9172C5.78108 12.9905 8.4119 12.9905 10.0161 11.9172C11.4277 10.9722 11.4277 9.43217 10.0161 8.49301C8.41773 7.42551 5.78691 7.42551 4.17691 8.49301Z" stroke="#70A8FF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        
            
    <div class="detail_object body__draft_select__form_control__staff__column">     
        <div class="detail_object body__draft_select__form_control__staff__row">
            <p class="detail_object body__draft_select__form_control__staff__title">{{ visa.staff.user.get_full_name }}</p>
            <span class="detail_object body__draft_select__form_control__staff__description">{{ visa.staff.post.name }}</span>
        </div>

    <span class="detail_object body__draft_select__form_control__staff__description">{{ visa.staff.department.name }}</span>
</div>
{% if document.draft %}
    <button 
    hx-target="#document-visas-list" 
    hx-swap="innerHTML transition:true"
    hx-post="{% url 'core:core-lk-document-delete-review' %}"
    hx-vals='{"staff_id": "{{ visa.staff.id }}", "document_uuid": "{{ document.uuid }}"}'
    class="button delete" type="button"
    _="on click 
    add .focused to #document-visas
    remove .selected from #document-visas"
    >Удалить</button>
    {% endif %}
</li>
{% empty %}
<li>Визирующие лица не добавлены</li>
{% endfor %}
