{% extends "../modal_base.html" %}

{% block modal_content %}
<form method="POST" class="filters_module_form" id="create-user">
  {% csrf_token %}
<div class="modal-body__header">
  <h2 class="modal-body__header__title">Создать нового пользователя</h2>
  <p class="modal-body__header__description">Создайте нового пользователя
    заполнив необходимые реквизиты</p>
</div>

<div class="modal-body__content">
  <div class="modal-body-column">
    <div class="modal-body-row">
    <div class="form_container">
        <label for="user-last-name">Фамилия</label>
        <input required name="last_name" class="container_input inputing" id="user-last-name">
    </div>
    <div class="form_container">
      <label for="user-first-name">Имя</label>
      <input required name="first_name" class="container_input inputing" id="user-first-name">
  </div>
  <div class="form_container">
    <label for="user-patronymic">Отчество</label>
    <input name="patronymic" class="container_input inputing" id="user-patronymic">
</div>
</div>
    <div class="form_container">
      <label for="user-email">Email</label>
      <input required name="email" class="container_input inputing" id="user-email">
  </div>
  <div class="form_container">
    <label for="user-password">Пароль</label>
    <input required type="password" name="password" class="container_input inputing" id="user-password">
  </div>
    <div class="form_container">
      <label for="user-department">Подразделение</label>
      <select name="department" class="container_select select_create" id="user-department">
          {% for department in departments %}
              <option value="{{ department.id }}">{{ department.name }}</option>
          {% endfor %}    
      </select>
      </div>
  <div class="form_container">
    <label for="user-post">Должность</label>
    <select name="post" class="container_select select_create" id="user-post">
        {% for post in posts %}
            <option value="{{ post.id }}">{{ post.name }}</option>
        {% endfor %}    
    </select>
    </div>
  </div>
</div>

<div class="modal-body__footer">
  <div class="modal-body__footer__buttons">
    <button class="button cancel" _="on click trigger closeModal" type="button">Отмена</button>
    <button class="button create full-bg" 
    _="on click trigger closeModal" 
    hx-post="{% url 'appcontrol:appcontrol-users-create' %}"
    hx-target="#app-users"
    hx-include="#create-user"
    hx-swap="innerHTML"
    type="button">Создать</button>
  </div>
</div>
</form>
{% endblock modal_content %}