<div class="detail_object body__draft_select__form_control">
        <div class="form_container">
            <label>Выберете сотрудника</label>
            <input type="text" name="staff" 
                class="container_input inputing bscolor"
                hx-trigger="input delay:500ms" 
                hx-target="#staff-list" 
                placeholder="Введите ФИО, должность или подразделение..."
                hx-swap="innerHTML" />
                <ul id="staff-list"></ul>
        </div>
    <div id="document-visas-list" class="detail_object body__draft_select__form_control">
        
    </div>

</div>