<form>
    {% csrf_token %}
    <div class="form_container">
        <label for="auth-email">E-mail</label>
        <input required name="email" type="email" class="container_input inputing" id="auth-email">
    </div>
    <div class="form_container">
        <label for="auth-email">E-mail</label>
        <input required name="email" type="email" class="container_input inputing" id="auth-email">
    </div>
    <div class="form_container">
        <label for="auth-email">E-mail</label>
        <input required name="email" type="email" class="container_input inputing" id="auth-email">
    </div>
    <div class="form_container">
        <label for="auth-email">E-mail</label>
        <input required name="email" type="email" class="container_input inputing" id="auth-email">
    </div>
    <div class="form_container">
        <label for="auth-email">E-mail</label>
        <input required name="email" type="email" class="container_input inputing" id="auth-email">
    </div>
</form>