{% load static %}
<form>
    {% csrf_token %}
    <h3 class="detail_object body__draft_select__title">Визы</h3>
    <div id="document-visas" class="detail_object body__draft_select">
        <img src="{% static 'img/svg/app/_visas.svg' %}" alt="Визирующие">
            <h3 class="detail_object body__draft_select__header">Назначить визирующих лиц</h3>
            <p>Выберите лиц, для осуществления визирования документа перед отправкой на подписание</p>
        <button class="button border gray"
        hx-get="{% url 'core:core-lk-document-detail' doc_uid=document.uuid %}?staff" 
        hx-target="#document-visas"
        hx-swap="innerHTML transition:true"
        type="button"
        _="on click wait 100ms add .focused to #document-visas">Выбрать визирующих</button>
    </div>
    <h3 class="detail_object body__draft_select__title">Подписант</h3>
    <div id="document-signer" class="detail_object body__draft_select">
        <img src="{% static 'img/svg/app/_signer.svg' %}" alt="Подписант">
            <h3 class="detail_object body__draft_select__header">Выберите подписанта документа</h3>
            <p>Укажите лицо, которое подпишет документ</p>
        <button class="button border gray" type="button"
        hx-target="#document-signer"
        hx-swap="innerHTML transition:true"
        hx-get="{% url 'core:core-lk-document-detail' doc_uid=document.uuid %}?staff" 
        _="on click wait 100ms add .focused to #document-signer">Выбрать подписанта</button>
    </div>
    <h3 class="detail_object body__draft_select__title">Адресат</h3>
    <div id="document-addressee" class="detail_object body__draft_select">
        <img src="{% static 'img/svg/app/_addressee.svg' %}" alt="Адресат">
            <h3 class="detail_object body__draft_select__header">Выбрать адресата</h3>
            <p>Укажите получателя документа</p>
        <button class="button border gray"
        hx-target="#document-addressee" 
        hx-swap="innerHTML transition:true"
        hx-get="{% url 'core:core-lk-document-detail' doc_uid=document.uuid %}?staff" 
        type="button"
        _="on click wait 100ms add .focused to #document-addressee">Выбрать адресата</button>
    </div>
    <h3 class="detail_object body__draft_select__title">Направление</h3>
    <div id="document-direction" class="detail_object body__draft_select">
        <img src="{% static 'img/svg/app/_direction.svg' %}" alt="Направление">
            <h3 class="detail_object body__draft_select__header">Выберите направление</h3>
            <p>Укажите, какому подразделению адресован документ</p>
        <button 
        hx-target="#document-direction" 
        hx-get="{% url 'core:core-lk-document-detail' doc_uid=document.uuid %}?staff" 
        hx-swap="innerHTML transition:true"
        class="button border gray" type="button"
        _="on click wait 100ms add .focused to #document-addressee">Выбрать адресата</button>
    </div>
</form>