.border-base {
    border: 1px solid $color-gray-2;
    border-radius: .7rem;
}

.align-items-end {
    align-items: flex-end !important;
}

.wrap {
    flex-wrap: wrap !important;
}

.margin-0 {
    margin: 0rem;
}

.padding-0 {
    padding: 0rem;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}

.gap-column-1 {
    gap: 1rem;
}

.flex {
    flex: 1;
}

.flex-4 {
    flex: 0 0 22%;
}

.overflow-hidden {
    overflow: hidden;
}

.margin-left {
    margin-left: auto;
}

.fixed {
    position: fixed;
    z-index: 9999;
    transition: .4s ease-in-out;

    &.shadow {
        transition: .4s ease-in-out;
        box-shadow: rgba(33, 35, 38, 0.17) 0px 10px 10px -10px;
    }
}

.relative {
    position: relative;
}

.background-white {
    background-color: $bg-white;
}

.w-75 {
    width: 75%;
}

.shadow-zero {
    box-shadow: none;
}

.background-transparent {
    background-color: transparent !important;
}


.overflow-y {
    overflow-y: scroll;

    &.no-scrl {
        scrollbar-width: none;
    }

    &::-webkit-scrollbar {
        background-color: #ebebeb;
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #d9e7fa;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: #e9f2ff;
      }
      &::-webkit-scrollbar-thumb:active {
        background-color: #c8ddff;
      }
}