<div class="app_container__content__section__header__subheader">
  <div class="app_container__content__section__header__row">
    <div class="app_container__content__section background-transparent shadow-zero w-75">
      <h2 class="app_container__content__section__header__subtitle">Подразделение</h2>
      <p class="app_container__content__section__header__subdescription">Управление подразделениями</p>
    </div>
    <button type="button" 
    hx-target="body"
    hx-get="{% url 'appcontrol:appcontrol-users-create' %}"
    hx-swap="beforeend" 
    class="button border margin-left">
        <svg width="15" height="15" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 7H10.5" stroke="#C8C8C8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7 10.5V3.5" stroke="#C8C8C8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>           
            Новое подразделение</button>
  </div>
</div>

<table cellpadding="0" cellspacing="11" class="table__content settings">
    <thead>
      <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Описание</th>
        <th>Тип</th>
      </tr>
  </thead>
    <tbody id="certs-staffs-table-body">
        <tr class="table-row">
            <td>Тип</td>
            <td>Тип</td>
            <td>Тип</td>
            <td>Тип</td>
          </tr>
    </tbody>
  </table>