<div class="app_container__content__section__header">
    <h1 class="app_container__content__section__header__title">Приложение</h1>
    <p class="app_container__content__section__header__description">Управление приложением СЭД</p>
</div>
    {% include "../components/app_navigation.html" %}
<div id="app-settings-container" class="app_container__content__section__body margin-top-1">
    {% if request.resolver_match.url_name == 'appcontrol-app' %}
        {% include "../partials/partial_app_documents.html" %}
    {% endif %}
</div>