<div class="app_container__content__section__header">
    <h2 class="app_container__content__section__header__posts">Должности</h2>
    <p class="app_container__content__section__header__subdescription">Управление должностями</p>
</div>

<table cellpadding="0" cellspacing="11" class="table__content settings">
    <thead>
      <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Описание</th>
        <th>Тип</th>
      </tr>
  </thead>
    <tbody id="certs-staffs-table-body">
        <tr class="table-row">
            <td>Тип</td>
            <td>Тип</td>
            <td>Тип</td>
            <td>Тип</td>
          </tr>
    </tbody>
  </table>