{% load static %}
<div class="app_container__content__section__header">
    <h1 class="app_container__content__section__header__title">Работа с документами</h1>
</div>

<div class="app_container__content__section__body margin-0">
    <div class="app_container__content__section__body row cards-panel padding-0">
        <button
        hx-get="{% url 'core:core-lk-create-document' %}"
        hx-target="#app-content-section"
        hx-swap="innerHTML transition:true"
        hx-push-url="false"
        class="button base border">Создать документ</button>
    </div>
    <div class="app_container__content__section__body padding-0 height-fit">
        <h2>Папки</h2>    
        <p>Размещайте документы в удобные для вас папки</p>
        <div class="app_container__content__section__body row padding-0">
            {% for folder in folders %}
                <a href="#!" 
                hx-get="{% url 'core:folders-folder' folder_id=folder.id %}" 
                hx-push-url="true" 
                hx-swap="innerHTML transition: true"
                hx-target="#app-content-section" 
                class="folder__container">
                    <img src="{% static 'img/svg/app/_folder.svg' %}" alt="Папка">
                        <span class="folder__title">{{ folder.name }}</span>
                        <span class="folder__text">Документов: {{ folder.documents_count }}</span>
                </a>
            {% endfor %}
            <div class="folder__container create_folder">
                <img src="{% static 'img/svg/app/_create_folder.svg' %}" alt="Создать папку">   
                <span class="folder__text gray">Новая папка</span>
            </div>
        </div>
    </div>
    <div class="app_container__content__section__body padding-0 height-fit">
        <h2>Зарегистрированные документы</h2>    
        <p>Все зарегистрированные документы в системе</p>
        <form method="GET"
        hx-trigger="change, keyup delay:500ms"
        hx-swap="innerHTML transition:true"
        hx-get="{% url 'core:core-lk-documents-filters' %}" hx-target="#documents-list">
        <div id="filters-documents-container" class="app_container__content__section__body row padding-0">
            <div class="form_container">
                <label for="type-document">Тип документа</label>
                <select name="document_type" class="container_input inputing bscolor" id="type-document">
                    <option value="all_documents">Все</option>
                    {% for type in document_types %}
                      <option value="{{ type.0 }}">{{ type.1 }}</option>
                  {% endfor %}    
              </select>
            </div>
            <div class="form_container">
                <label for="document-signer">Подписант</label>
                <select name="document_signing" class="container_input inputing bscolor" id="document-signer">
                    <option value="all_documents">Все</option>
                    {% for staff in staffs %}
                      <option value="{{ staff.id }}">{{ staff.user.get_full_name }}</option>
                  {% endfor %}    
              </select>
            </div>
            <div class="form_container">
                <label for="document-address">Адресат</label>
                <select name="document_address" class="container_input inputing bscolor" id="document-address">
                    <option value="all_documents">Все</option>
                    {% for staff in staffs %}
                    <option value="{{ staff.id }}">{{ staff.user.get_full_name }}</option>
                {% endfor %}   
              </select>
            </div>
            <div class="form_container">
                <label for="document_status">Статус</label>
                <select name="document_status" class="container_input inputing bscolor" id="document_status">
                    <option value="all_documents">Все</option>
                    {% for status in document_status %}
                      <option value="{{ status.0 }}">{{ status.1 }}</option>
                  {% endfor %}    
              </select>
            </div>
            <div class="form_container">
                <label for="document-short-note">Краткое описание</label>
                <input type="text" name="document_short_note" 
                class="container_input inputing bscolor"
                hx-trigger="search, keyup delay:200ms changed"
                hx-get="{% url 'core:core-lk-staff-search' %}"  
                hx-target="#visas-container-results" 
                placeholder="Краткое описание..."
                hx-swap="innerHTML transition:true"
                name="staff"
                id="document-short-note"/> 
              </select>
            </div>
        </div>
        </form>
        <table cellpadding="0" cellspacing="11" class="table__content appcore grid-7"  id="documents-list">
            <thead>
              <tr>
                <th>Тип</th>
                <th>№ / Дата</th>
                <th>Подписант</th>
                <th>Адресат</th>
                <th>Краткое описание</th>
                <th>Статус</th>
                <th></th>
              </tr>
          </thead>
            <tbody id="certs-staffs-table-body">
                {% include './components/partial_documents.html' %}
            </tbody>
          </table>
    </div>
</div>