.detail_object {
    width: 100%;

    &.main {
        @include flex-column-start;
    }



    &.container {
        padding: 19px;
        @include flex-column-start;


    }

    &.header {
        @include flex-column-start;
        gap: 8px;

        .button {
            margin-left: auto;
        }

        &__title {
            font-size: 17px;
            color: #455A76;
        }

        &__description {
            @include flex-row;
            align-items: flex-start;
            gap: 11px;

            &__element {
                padding: 5px;
                font-size: 14px;
                width: fit-content;
                border-radius: .6rem;
                text-transform: uppercase;
                color: #70A8FF;
                border: 1px solid #70A8FF;
                padding-inline: 9px;
            }
        }
    }

    &__review {
        width: 96.333%;
        height: 100%;
        position: absolute;
        z-index: 9998;
        left: 0px;
        background-color:rgba(245, 245, 245, 0.5);
        display: none;
        transition: all .4s ease-in-out;

        &.visible {
            @include flex-column-start;
            justify-content: center;
            animation: fadeIn .5s ease-in-out;
        
        }
        
        &__panel {
            display: none;
            height: 100%;
            padding: 2rem;
            gap: 3rem;
            z-index: 9999;
            background-color: $bg-white;
            min-width: 25rem;
            border: 1px solid #e8e8e8;
            width: 46rem;
            border-radius: 0 .7rem .7rem 0;

            &.remove {
                @include flex-column-start;
                animation-name: transitionOut;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
                @keyframes transitionOut {
                    from {
                      transform: translateX(0);
                    }
                    to {
                        transform: translateX(-46rem);
                    }
                  }
            }
            
            &.visible {
                @include flex-column-start;
                animation-name: transitionIn;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);


                @keyframes transitionIn {
                    from {
                    transform: translateX(-46rem);
                    }
                    to {
                        transform: translateX(0);
                    }
                }


            
            }

            &__header {     
                @include flex-row;
                align-items: center;
                width: 100%;   
                h1 {
                    font-size: 1.1rem;
                }
            }

            &__body {
                height: fit-content;
                width: 100%;
                @include flex-column-start;

                textarea {
                    height: 5rem !important;
                }
            }

            &__footer {
                @include flex-row;
                height: fit-content;
                width: 100%;
                align-items: center;

                &__buttons {
                    @include flex-row;
                    gap: 1rem;
                    margin-left: auto;
                }
            }
        }
        
    }

    &.body {
        height: fit-content;
        width: 100%;

        &__draft_select {
            @include flex-column-start;
            width: 100%;
            min-height: 33rem;
            align-items: center;
            border: 1px solid $color-gray;
            background-color: #fafafa;
            border-radius: .7rem;
            justify-content: center;
            transition: all .5s ease-in-out;

            &.focused {
                transition: all .5s ease-in-out;
                justify-content: flex-start !important;

            }

            &.selected {
                height: fit-content !important;
                min-height: fit-content !important;

                .body__draft_select__form_control__staff {
                    margin-top: .1rem !important;
                }
            }

            &__title {
                text-align: left;
                color: $gray;
                font-weight: 400;
                padding: 1rem;
            }

            button {
                margin-block: 1.5rem;
            }

            &__header {
                text-align: center;
                font-size: .9rem;
                font-weight: 500;
                color: $text-gray;
            }

            p {
                font-size: .8rem;
            }

            &__form_control {
                height: 100%;
                width: 100%;
                padding: 1rem;
                @include flex-column-start;

                svg {
                    min-width: 21px !important;
                }

                h3 {
                    color: #5B5B63;
                }


                &.reviews {
                    padding: .3rem;
                }

                &__staff {
                    border: 1px solid #e8e8e8;
                    border-radius: .4rem;
                    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
                    padding: .7rem;
                    margin-top: 2rem;
                    align-items: center;
                    background-color: #fafafa;
                    gap: .7rem;
                    @include flex-row;

                    .button {
                        width: fit-content;
                        font-size: .8rem;
                        margin: 0;
                    }

                    &__column {
                        @include flex-column-start;
                        gap: .2rem;
                    }

                    &__row {
                        @include flex-row;
                        gap: .5rem;
                        align-items: center;
                    }
                    &__title {
                        margin-top: 0px !important;
                        width: fit-content;
                        font-size: .9rem !important;
                        color: #2b2b2b;
                    }

                    &__description {
                        width: fit-content;
                        font-size: .9rem !important;
                        color: $text-gray;
                    }
                }
            }
        }

        &.small {
            max-width: 50%;
        }

        &__row {
            @include flex-start;
            border-left: 1px solid #eeeeee;
        }
        &.border {
            &-top {
                border-top: 1px solid #eeeeee;
            }
            &-bottom {
                border-bottom: 1px solid #eeeeee;
            }
            &-right {
                border-right: 1px solid #eeeeee;
            }
            &-left {
                border-left: 1px solid #eeeeee;
            }
        }

        &__information {
            padding: 19px;
            width: 100%;
            @include flex-column-start;
            gap: 11px;

            &__header {
                gap: 3px;
                padding: 0px;
                margin-bottom: 1rem;

                p {
                    font-size: .9rem;
                }

                &__title {
                    font-size: 1rem;
                    color: $color-dark;
                }
            }

            &__title {
                margin-block: 15px;
                font-size: 15px;
                color: #2b2b2b;

            }

            &__description {
                width: 100%;
                gap: 7px;
                @include flex-column-start;

                .form_container {
                    gap: 8px;
                    margin-block: .2rem;

                    label {
                        font-size: .8rem;
                    }

                    .container_input {
                        height: 2.2rem;
                        font-size: .8rem;
                        border-radius: .5rem;

                        &.textarea {
                            height: 5rem;
                        }
                    }
                }

                &__element {
                    width: 25rem;
                    align-items: flex-start;
                    display: flex;
                    justify-content: space-between;
                    
                    

                    span {
                        font-size: 12px;
                        &:first-child {
                            color: #455A76;
                        }
                    }
                }
            }
            &__navigation_tab {
                @include flex-row;
                gap: 11px;
                width: fit-content;
                padding: 3px;
                height: 100%;
                max-height: 19rem;
                border-radius: .4rem;
                background-color: #E8EBEE;

                &__element {
                    padding: 9px;
                    width: fit-content;
                    color: #455A76;
                    font-size: 13px;
                    transition: .4s ease-in-out;
                    &.visible-d {
                        transition: .4s ease-in-out;
                        border-radius: .4rem;
                        background-color: #fff;
                    }
                }

                &__content {
                    display: none;
                    &.visible-d {
                        @include flex-column-start;
                    }
                }
            }

        }

        &.block-middle {
            @include flex-row;
            min-height: 180px;
        }
    }
}


.detail_container {
    position: relative;
    top: 15rem;
    height: auto !important;
}