@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700;800;900&display=swap');

html {
    font-size: 15px;
    width: 100%;
    -webkit-font-smoothing: antialiased;


}

body {
    overflow: auto;
    font-family: $font-main;
    background-color: $bg-color;
    height: 100vh;
    width: 100%;
}

h1, h2, h3, h4 {
    font-weight: 400;  
    color: $color-dark;
}


form {
    display: contents;
}

.app_container {
    height: 100vh;

    &__content {
        @include flex-column-start;
        width: calc(100% - 15rem);
        left: 15rem;
        position: relative;
        padding: 5rem 0rem 0rem 5rem;
        height: 100vh;

        &__row {
            width: 100%;
            gap: 1rem;
            height: 100%;
            @include flex-row;
        }
        

        &__section {
            @include flex-column-start;
            background-color: $bg-white;
            border-radius: 1rem 0rem;
            height: 100%;
            width: 100%;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);

            &__block {
                width: 100%;
                height: 100%;
                justify-content: center;
                padding: 2rem;
                @include flex-column-center;
            }

            &__header {
                width: 100%;
                padding: 1.9rem;

                &__element {
                    padding: 3px;
                    font-size: .8rem;
                    width: fit-content;
                    border-radius: .6rem;
                    text-transform: uppercase;
                    color: #70A8FF;
                    border: 1px solid #70A8FF;
                    padding-inline: 11px;

                    &__headerline {
                        font-size: .7rem;
                        height: 100%;
                        padding: 3px;
                        color: $gray;
                        border: none;
                    }
                }

                &__title {
                    font-size: 1.3rem;
                }


                &__description {
                    font-size: 1rem;
                    margin-top: .7rem;
                    color: $text-gray;
                }

                &__subdescription {
                    font-size: .8rem;
                    margin-top: .5rem;
                    color: $text-gray;
                }

                &__row {
                    width: 100%;
                    @include flex-row;
                    align-items: center;

                    &.draft_status {
                        width: fit-content;
                        padding: .4rem;
                        margin-bottom: .5rem;
                        border-radius: .3rem;
                        gap: .3rem;
                        background-color: $color-gray;

                        h2 {
                            color: $gray !important;
                            font-size: .8rem;
                        }
                    }

                    &.headerline {
                        gap: 1rem;
                    }

                    &.elements {
                        margin-top: .9rem;
                        gap: .5rem;
                    }

                    button {
                        margin-left: auto;
                    }
                }
            }

            &__body {
                @include flex-column-start;
                margin-block: 1.3rem;
                height: 100%;
                width: 100%;
                padding: 1.9rem;
                will-change: transform; 

                h2 {
                    font-size: 1rem !important;
                }

                p {
                    margin-top: 9px;
                    font-size: .9rem;
                    color: $text-gray;
                }

                &.row {
                    gap: 1.3rem;
                    @include flex-row;

                    &.cards-panel {
                        height: 13rem;
                        width: 100%;

                        &-full {
                            height: 100%;
                        }
                    }
                }

                .create_document {
                   .form_container {
                        font-size: .8rem;

                        .container_input.inputing {
                            height: 2.3rem;
                        }
                        .container_input.textarea {
                            height: 5rem;
                        }
                   } 
                }
            }
        }
    }

    &__auth {
        width: 100%;
        height: 100%;
        @include flex-column-start;
        justify-content: center;
        align-items: center;

        &__content {
            @include flex-column-start;
            width: 95%;
            position: relative;
            height: 100%;
            max-height: 95%;

            &__section {
                @include flex-row;
                background-color: $bg-white;
                border-radius: 1rem;
                height: 100%;
                width: 100%;
                justify-content: right;
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
            }
        }
    }
}