.button {
    max-width: 107px;
    width: 100%;
    height: 2.4rem;
    font-size: 1rem;
    @include flex-center;

    &.base {
        border-radius: .2rem;
        background-color: #5580FF;
        color: $bg-white;    
    }

    &.none-active {
        background-color: #f1f1f1;
        color: #dfdfdf;
    }

    &.border {
        border-radius: .4rem;
        padding: 1rem;
        gap: .5rem;
        height: 2.6rem;
        font-size: .8rem;
        border: 1px solid $color-gray;
        color: $color-dark;    
        width: fit-content;
        max-width: none !important;

        &.blue {
            border-color: #70A8FF;
        }

        &.gray {
            color: $text-gray;
        }

        &.create {
            background-color: #70A8FF;
            color: $bg-white;
            font-weight: 500;
            border: none;
        }
    }
}