$font-main: 'Golos Text', sans-serif;


$bg-color: #F8F6F7;
$bg-white: #ffffff;

$text-gray: #566882;


$color-blue: #65a0ff;
$color-gray: #e8e8e8;
$color-gray-2: #EBEEF4;
$color-dark: #2b2b2b;


$container-width: 80rem;
$container-width-full: 111rem;
$container-padding-x: 15px;

$container-default-margin-block: 21px;

$section-padding-y: 70px;