.breadcrumb {
    @include flex-start; 
    margin-bottom: 1.5rem;
    &_container {
        @include flex-start; 
    }


    &-item {
        font-size: .9rem;
        color: $gray;
        &.active {
            color: $color-dark;
        }

        span {
            padding-inline: 11px;
        }
    }
}