.form_container {
    @include flex-column-start;
    gap: 8px;
    width: 100%;
    font-size: .8rem;

    &.hidden {
        display: none;
    }

    &__row {
        @include flex-row;
        width: 100%;
        gap: 1rem;
    }

    label {
        color: #878787;
    }

    &__result {
        position: absolute;
        top: 4.3rem;
        background-color: #ffffff;
        width: 100%;
        min-height: 3rem;
        height: fit-content;
        padding: 1rem;
        border-radius: .6rem;
        max-height: 14rem;
        overflow-y: scroll;
        gap: 1.3rem;
        z-index: 999999;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        opacity: 0;
        transform: translateY(3rem);
        transition: opacity 0.1s ease, transform 0.6s ease;

        &.hidden {
            display: none;
        }
        &.fade-out {
            opacity: 0;
            animation: fadeOut 1s forwards;
        }

        &.visible {
            @include flex-column-start;
            opacity: 1;
            transition: .5s ease-in-out;
            transform: translateY(0);
        }

        &__staff {
            width: 100%;
            gap: .2rem;
            @include flex-column-start;
           
           &__row {
            gap: .3rem;
            @include flex-row;

            &.organisation {
                gap: .6rem;
            }

            p {
                font-size: .8rem;
                margin-top: 1px;

                &:last-child {
                    padding-left: .6rem;
                }
            }

            h4 {
                font-size: .9rem;

                span {
                    font-size: .8rem;
                    padding-left: 1rem;
                    color: $text-gray;
                }
            }
           }

           &.organisation {
                p {
                    &:last-child {
                        padding-left: 0rem;
                    } 
                }

           }
        }
    }

    .container_select {
        position: relative;
        width: 100%;
        display: inline-block;
    
        &.select_create {
            height: 100%;
            width: 100%;
            border-radius: 8px;
    
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #D0D4DD !important;
            border: none;
            cursor: pointer;
    
            &:focus {
                outline: none;
            }
        }
    
        .select_search {
            height: 100%;
            width: 100%;
            border-radius: 8px;
    
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 10px;
        
            background-color: #EFF4F8;
            color: #73768E;
            border: 1px solid #E1EBF0;
            border: none;
            cursor: pointer;
        
            &:focus {
                outline: none;
            }
        }
    
        &::after {
            content: '';
            position: absolute;
            top: 60%;
            right: 10px;
            transform: translateY(-50%);
            border: 5px solid transparent;
            border-top-color: #73768E;
            pointer-events: none;
        }
    }
    

    .container_input {
        padding: 0 8px 0 11px;
        height: 2.2rem;
        line-height: 20px;
        letter-spacing: 0.5px;
        width: 100%;
        color: $color-gray;
        border-radius: 7px;

        &.inputing {
            border: 1px solid $color-gray;
            border-radius: 8px;
            color: $color-dark;
            transition: .4s ease-in-out;

            &.bscolor {
                box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
                background-color: $bg-white;
            }

            &:focus {
                border: 1px solid #70A8FF;
            }
        }

        &.textarea {
            padding: 5px 13px 0 15px;
            font-size: 13px;
            min-height: fit-content;
            color: $color-dark;
            transition: .4s ease-in-out;
    
            &:focus {
                border: 1px solid #70A8FF;
            }
        }

        &.input-email {
            background-image: url(/static/img/search.svg);
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: 8px;
        }
    }
}

.form_radio {
    cursor: pointer;
    display: flex;

    input[type="radio"] {
        display: none;
    } 

    input[type="radio"]:checked ~ .card_container {
        border-color: #c6d4ff;
        box-shadow: 0 4px 12px rgba(172, 193, 255, 0.5);
    }
}